html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 14px;
}

a {
    text-decoration: none;
}

#background {
    background-color: #cccccc;
    background-image: url(texture.png);
    position: fixed;
    width: 100%;
    height: 100%;
    min-width: 1000px;
}
#gloss {
    background: url(gloss.png) repeat-x;
    height: 478px;
    width: 100%;
}

#container {
    position: relative;
}

.csstransitions #background {

    -webkit-transition: background-color 5s cubic-bezier(.22, .61, .36, 1);
    -moz-transition: background-color 5s cubic-bezier(.22, .61, .36, 1);
    -ms-transition: background-color 5s cubic-bezier(.22, .61, .36, 1);
    -o-transition: background-color 5s cubic-bezier(.22, .61, .36, 1);
    transition: background-color 5s cubic-bezier(.22, .61, .36, 1);
}

#search-area {
    width: 900px;
    margin: 0 auto;
    padding: 0 30px 0 0;
    top: 160px;
    position: relative;
    height: 200px;
}
#logo {
    float: left;
}
#search {
    float: right;
}
#search-input {
    width: 530px;
    height: 40px;
    border: none;
    float: left;
    padding: 8px;
    font-size: 14px;
    outline: none;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
#search-button {
    width: 120px;
    height: 40px;
    font-size: 14px;
    background-color: #AF2930;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
}
#engines {
    display: block;
    list-style: none;
    padding: 0;
}

#engines li {
    float: left;
    margin-right: 20px;
    line-height: 22px;
    color: #fff;
}


#navigation-area {
    width: 960px;
    margin: 0 auto;
    position: relative;
    margin-top: 120px;
}

.nav-panel {
    margin: 50px 0;
    background-color: #fff;
    height: 224px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.nav-left {
    width: 149px;
    float: left;
}

.first-class {
    width: 150px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background-color: #AF2930;
    color: #fff;
    float: left;
    font-size: 14px;
}


.link-info {
    clear: left;
    width: 148px;
    height: 179px;
    float: left;
    color: #666;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.icon {
    width: 100px;
    height: 100px;
    margin: 20px auto 0;
    overflow: hidden;
}
.icon > img {
    display: block;
    width: 100%;
}
.description {
    padding: 10px;
    font-size: 12px;
    line-height: 1.7;
    height: 60px;
    overflow: hidden;
    text-align: center;

}

.nav-right {
    float: left;
    width: 810px;
}

.second-classes {
    padding: 0;
    margin: 0;
    height: 43px;
    width: 810px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.second-classes li {
    margin-right: 2px;
    line-height: 43px;
    text-align: center;
    padding: 0 30px;
    float: left;
    list-style: none;
    color: #000;
    cursor: pointer;
}
.second-classes li {
}
.second-classes li.active {
    border-bottom: 1px solid #AF2930;
    color: #AF2930;
}
.link-page {
    position: relative;
    left: 1px;
}
.links {
    display: none;
    position: absolute;
}
.links.active {
    display: block;
}
.links a {
    display: block;
    float: left;
    width: 161px;
    height: 44px;
    line-height: 45px;
    text-align: center;
    color: #000;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.links a:hover {
    background-color: #eee;
    color: #AF2930;
}


#ctrl-panel {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 10px;
}

.ctrl-row {
    clear: left;
}
.bg-color {
    display: block;
    /*margin-left: 8px;*/
    /*margin-bottom: 6px;*/
    margin-left: -18px;
    margin-bottom: -18px;
    height: 18px;
    width: 18px;
    float: left;
    -webkit-transition: margin 0.5s cubic-bezier(.22, .61, .36, 1);
    -moz-transition: margin 1s cubic-bezier(.22, .61, .36, 1);
    -ms-transition: margin 1s cubic-bezier(.22, .61, .36, 1);
    -o-transition: margin 1s cubic-bezier(.22, .61, .36, 1);
    transition: margin 0.5s cubic-bezier(.22, .61, .36, 1);
}
.csstransitions #ctrl-panel:hover .bg-color {
    margin-left: 18px;
    margin-bottom: 18px;
}


#footer {
    position: relative;
    padding: 30px;
}

#footer .text {
    text-align: center;
    color: #fff;
    margin: 8px 0;
    font-size: 12px;
}

#footer .text a {
    color: #fff;
    border-bottom: 1px #fff dashed;;
    margin: 0 2px;
}


.popup {
    position: fixed;
    display: none;
    margin: 0 auto;
    top: 80px;
    left: 0;
    right: 0;
    width: 400px;
    background-color: #eee;
    padding: 20px;;
    box-shadow: #999 0 1px 20px;
    border: 1px #bbb solid;
    border-radius: 2px;
}

.popup .body {
    padding: 4px;
}

.popup .title {

    font-size: 18px;
    border-bottom: 1px #000 solid;
    color: #AF2930;
}

.popup .line {
    margin: 15px 0;
}

.line span {
    display: block;
    margin-bottom: 5px;
}

.line input {
    width: 300px;
    font-size: 14px;
    border: 1px #bbb solid;
    padding: 5px;
}

.line textarea {
    width: 300px;
    height: 60px;
    font-size: 14px;
    border: 1px #bbb solid;
    padding: 5px;
}

.popup button {
    background: #AF2930;
    color: #fff;
    border: none;
    padding: 4px 20px;
    font-size: 14px;
    cursor: pointer;
}

