sudo: false

language: node_js

node_js:
  - 4
  - 5
  - 6


install: cd api && npm install

before_script:
  - wget http://fastdl.mongodb.org/linux/mongodb-linux-x86_64-3.2.0.tgz -O /tmp/mongodb.tgz
  - tar -xvf /tmp/mongodb.tgz
  - mkdir /tmp/data
  - ${PWD}/mongodb-linux-x86_64-3.2.0/bin/mongod --dbpath /tmp/data --bind_ip 127.0.0.1 &> /dev/null &

script: npm test

after_success: 
  - npm install coveralls
  - npm run cover && NODE_ENV=test ./node_modules/nyc/bin/nyc.js report --reporter=text-lcov | ./node_modules/coveralls/bin/coveralls.js
